---

---

<p class="text">
	<slot />
</p>

<style>
	.text {
		text-align: center;
		font-size: 1em;
		font-weight: 300;
		padding: 0.08em;
		margin: 0 auto;
		max-width: 1000px;
		line-height: 1.8em;
	}
</style>
