---
import Layout from "../layouts/Layout.astro";
import TextWithEllipse from "../components/Home/TextWithEllipse.astro";
import Text from "../components/Shared/Text.astro";
import Spacer from "../components/Shared/Spacer.astro";
import HomeCommunityItem from "../components/Home/HomeCommunityItem.astro";
import HomeSectionIntro from "../components/Home/HomeSectionIntro.astro";
import HomeSectionCTA from "../components/Home/HomeSectionCTA.astro";
import Title2 from "../components/Shared/Title2.astro";
---

<Layout title="Opire - the reward platform for software developers">
	<Spacer size={100} />
	<HomeSectionCTA
		title="Inspire innovation, reward contribution"
		textButtonSecondary="CHECK DOCUMENTATION"
		linkButtonSecondary="https://docs.opire.dev"
		textButtonPrimary="GET STARTED"
		linkButtonPrimary="https://app.opire.dev"
	>
		<Text>
			By incentivizing contributions, you can support project growth and
			make a meaningful impact on the open-source ecosystem.
		</Text>
	</HomeSectionCTA>
	<Spacer size={200} />
	<section>
		<div class="light"></div>
		<img
			src="/assets/images/reward_creator_figure.png"
			alt="Opire object"
			style="width: 35vw; max-width: 700px; min-width: 300px;"
		/>
	</section>
	<Spacer size={200} />
	<HomeSectionIntro
		section="HOW CAN OPIRE SUPPORT YOU?"
		title="Perks for Reward Creators"
	>
		<Text>
			Offering rewards can be a valuable strategy for reward creators to
			encourage contributions, foster innovation, and support the growth
			of their projects.
		</Text>
	</HomeSectionIntro>
	<Spacer size={200} />
	<section>
		<TextWithEllipse direction="right" position="left">
			<Title2>Supporting project growth</Title2>
			By offering rewards, creators can support and incentivize developers
			to contribute to their projects, leading to increased growth and development.
		</TextWithEllipse>
		<Spacer size={190} />
		<TextWithEllipse direction="left" position="right">
			<Title2>Investing in innovation</Title2>
			Rewards encourage developers to explore new ideas and technologies, fostering
			innovation within the project and pushing it forward.
		</TextWithEllipse>
		<Spacer size={190} />
		<TextWithEllipse direction="right" position="left">
			<Title2>Recognition and appreciation</Title2>
			Reward creators have the opportunity to recognize and appreciate the
			efforts of developers who contribute to their projects, fostering a positive
			relationship with the community.
		</TextWithEllipse>
		<Spacer size={190} />
		<TextWithEllipse direction="left" position="right">
			<Title2>Increased visibility</Title2>
			Projects that offer rewards may attract more attention and interest from
			developers, leading to increased visibility and exposure within the open-source
			community.
		</TextWithEllipse>
	</section>
	<Spacer size={200} />
	<HomeSectionIntro
		section="HOW DOES IT WORK?"
		title="It's easy - Crack the challenge, get your reward"
	>
		<Text>
			Opire offers developers a unique opportunity to not only contribute
			to open-source projects but also to be rewarded for their efforts,
			leading to a more vibrant and sustainable ecosystem for software
			development.
		</Text>
	</HomeSectionIntro>
	<Spacer size={200} />
	<HomeSectionIntro section="HOW TO INSTALL?" title="START now... but how?">
		<div style="max-width: 800px;">
			<Spacer size={20} />
			<Title2>Create your first reward.</Title2>
			<Spacer size={20} />
			<Text>
				With Opire, anyone can create rewards in repositories that have
				the app installed using our commands. Rewards can start from
				$20. In addition to adding rewards to issues, anyone can show
				appreciation for a user's effort with tips starting from $1.
			</Text>
			<Spacer size={20} />
			<Text>
				An issue can have multiple rewards associated with it,
				regardless of whether it's the same user creating them or
				several users contributing different amounts: at the time of
				payment, each user will be responsible for paying their share.
			</Text>
			<Spacer size={20} />
			<Text>
				If someone outside the repository's organization creates a
				reward, the organization will receive a % when it's paid to the
				developer.
			</Text>
			<Spacer size={80} />
			<Title2>
				Pay when someone claims your rewards associated with the issue.
			</Title2>
			<Spacer size={20} />
			<Text>
				Once the developer has claimed the rewards for the issue and it
				has been verified that the proposed change meets expectations,
				you can pay the rewards you created for that issue from your
				dashboard. In case there are multiple developers who have
				claimed the same issue, you can choose whom to pay. It is the
				developer's responsibility to ensure that their account is
				correctly configured to receive payments.
			</Text>
			<Spacer size={20} />
			<Text>
				This is when the reward transfer will take place along with the
				associated costs being charged.
			</Text>
			<Spacer size={20} />
			<Text>
				If several people create rewards for the same issue, each
				creator will pay the sum of the rewards they have created.
			</Text>
		</div>
	</HomeSectionIntro>
	<Spacer size={200} />
	<section>
		<img
			src="/assets/logos/isotype.png"
			alt="Opire isotype"
			width="100px"
		/>
	</section>
	<Spacer size={70} />
	<HomeSectionCTA
		title="Create new rewards"
		textButtonSecondary="EXPLORE DOCUMENTATION"
		linkButtonSecondary="https://docs.opire.dev"
		textButtonPrimary="GET STARTED"
		linkButtonPrimary="https://app.opire.dev"
	>
		<Text>
			Explore, engage, and innovate while earning rewards for your
			contributions. Join us in shaping the future of open-source
			development.
		</Text>
	</HomeSectionCTA>
</Layout>

<style>
	section {
		position: relative;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		padding: 0 20px;
	}
	.light {
		position: absolute;
		z-index: -1;
		padding: 0 100px;
		box-shadow: 0px 0px 50vw 13vw rgba(255, 255, 255, 0.75);
	}
</style>
