---
import Layout from "../layouts/Layout.astro";
import Analytics from "../components/Analytics.astro";
---

<Analytics />

<Layout title="Opire - Privacy Policy">
    <section style="margin: 0 10%;">
        <h1>Privacy Policy for Opire</h1>

        <p>Effective Date: 30/03/2024</p>

        <p>
            Opire is committed to protecting your privacy. Our Privacy Policy
            explains how we collect, use, disclose, and safeguard your
            information when you visit our website <a
                href="https://opire.dev"
                class="link-in-text">https://opire.dev</a
            > including any other media form, media channel, mobile website, or mobile
            application related or connected (collectively, the "Site"). Please read
            this privacy policy carefully. If you do not agree with the terms of
            this privacy policy, please do not access the Site.
        </p>

        <h2>1. COLLECTION OF YOUR INFORMATION</h2>

        <p>
            We may collect information about you in a variety of ways. The
            information we may collect via the Site includes:
        </p>

        <h3>Personal Data</h3>

        <p>
            Personally identifiable information, such as your email, that you
            voluntarily give to us when you choose to participate in various
            activities related to the Site. We only collect your email through
            Github's authentication system when you choose to use our services,
            and we'll only use that information to send you communications
            related to the use of the Site.
        </p>

        <h3>Financial Data</h3>

        <p>
            Financial information, such as data related to your payments or
            transactions, is processed by our third-party payment vendor,
            Stripe. We do not access, store, or collect your financial
            information. All financial transactions are processed through
            Stripe's API. You are advised to review Stripe's privacy policy and
            contact Stripe directly for responses to your questions.
        </p>

        <h2>2. USE OF YOUR INFORMATION</h2>

        <p>
            Having accurate information about you permits us to provide you with
            a smooth, efficient, and customized experience. Specifically, we may
            use information collected about you via the Site to:
        </p>

        <ul>
            <li>Enable Site-to-user communications.</li>
            <li>
                Fulfill and manage purchases, orders, payments, and other
                transactions related to the Site.
            </li>
            <li>Increase the efficiency and operation of the Site.</li>
            <li>
                Monitor and analyze usage and trends to improve your experience
                with the Site.
            </li>
            <li>Perform other business activities as needed.</li>
        </ul>

        <h2>3. DISCLOSURE OF YOUR INFORMATION</h2>

        <p>
            We may share information we have collected about you in certain
            situations. Your information may be disclosed as follows:
        </p>

        <h3>By Law or to Protect Rights</h3>

        <p>
            If we believe the release of information about you is necessary to
            respond to legal process, to investigate or remedy potential
            violations of our policies, or to protect the rights, property, and
            safety of others, we may share your information as permitted or
            required by any applicable law, rule, or regulation.
        </p>

        <h3>Third-Party Service Providers</h3>

        <p>
            We may share your information with third parties that perform
            services for us or on our behalf, including payment processing and
            email delivery.
        </p>

        <h3>Marketing Communications</h3>

        <p>
            We won't share your information with third parties for marketing
            purposes.
        </p>

        <h3>Interactions with Other Users</h3>

        <p>
            If you interact with other users of the Site, those users may see
            your username, profile photo, and descriptions of your activity.
        </p>

        <h3>Online Postings</h3>

        <p>
            When you post comments, contributions or other content to the Site,
            your posts may be viewed by all users and may be publicly
            distributed outside the Site in perpetuity.
        </p>

        <h2>4. THIRD-PARTY WEBSITES</h2>

        <p>
            The Site may contain links to third-party websites and applications
            of interest, including advertisements and external services, that
            are not affiliated with us. Once you have used these links to leave
            the Site, any information you provide to these third parties is not
            covered by this Privacy Policy, and we cannot guarantee the safety
            and privacy of your information. Before visiting and providing any
            information to any third-party websites, you should inform yourself
            of the privacy policies and practices (if any) of the third party
            responsible for that website, and should take those steps necessary
            to, in your discretion, protect the privacy of your information. We
            are not responsible for the content or privacy and security
            practices and policies of any third parties, including other sites,
            services or applications that may be linked to or from the Site.
        </p>

        <h2>5. SECURITY OF YOUR INFORMATION</h2>

        <p>
            We use administrative, technical, and physical security measures to
            help protect your personal information. While we have taken
            reasonable steps to secure the personal information you provide to
            us, please be aware that despite our efforts, no security measures
            are perfect or impenetrable, and no method of data transmission can
            be guaranteed against any interception or other type of misuse. Any
            information disclosed online is vulnerable to interception and
            misuse by unauthorized parties. Therefore, we cannot guarantee
            complete security if you provide personal information.
        </p>

        <h2>6. POLICY FOR CHILDREN</h2>

        <p>
            We do not knowingly solicit information from or market to children
            under the age of 13. If you become aware of any data we have
            collected from children under age 13, please contact us using the
            contact information provided below.
        </p>

        <h2>7. OPTIONS REGARDING YOUR INFORMATION</h2>

        <h3>Account Information</h3>

        <p>
            You may at any time review or change the information in your account
            or terminate your account by:
        </p>

        <ul>
            <li>
                Logging into your account settings and updating your account.
            </li>
            <li>Contacting us using the contact information provided below.</li>
        </ul>

        <p>
            Upon your request to terminate your account, we will deactivate or
            delete your account and information from our active databases.
            However, some information may be retained in our files to prevent
            fraud, troubleshoot problems, assist with any investigations,
            enforce our Terms of Use and/or comply with legal requirements.
        </p>

        <h3>Emails and Communications</h3>

        <ul>
            <li>
                Noting your preferences at the time you register your account
                with the Site.
            </li>
            <li>
                Logging into your account settings and updating your
                preferences.
            </li>
            <li>Contacting us using the contact information provided below.</li>
        </ul>

        <p>
            If you no longer wish to receive correspondence, emails, or other
            communications from us, you may opt-out by:
        </p>

        <ul>
            <li>
                Noting your preferences when you register your account with the
                Site.
            </li>
            <li>
                Logging into your account settings and updating your
                preferences.
            </li>
            <li>Contacting us using the contact information provided below.</li>
        </ul>

        <p>
            If you no longer wish to receive correspondence, emails, or other
            communications from third parties, you are responsible for
            contacting the third party directly.
        </p>

        <h2>8. CONTACT US</h2>

        <p>
            If you have questions or comments about this Privacy Policy, please
            contact us at:
        </p>

        <p>
            <a href="mailto:opiredev@gmail.com" class="link-in-text"
                >Our email address</a
            >
        </p>
    </section>
</Layout>

<style>
    h1 {
        font-size: 2rem;
        margin-bottom: 1rem;
        text-align: center;
    }

    h2 {
        font-size: 1.5rem;
        margin-top: 2rem;
        margin-bottom: 1rem;
        text-align: center;
    }

    h3 {
        font-size: 1.25rem;
        margin-top: 1rem;
        margin-bottom: 0.5rem;
        text-align: center;
    }
</style>
