---
import Footer from "../components/Shared/Footer.astro";
import Header from "../components/Shared/Header.astro";
import Spacer from "../components/Shared/Spacer.astro";

interface Props {
	title: string;
	canonical?: string;
}

const { title, canonical } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="robots" content="index, follow" />
		<meta
			name="description"
			content="With Opire, anyone can create rewards for open source projects and grow their community, while developers can solve issues and earn the associated rewards."
		/>
		<meta
			name="keywords"
			content="opire, opiredev, reward, bounty, money, open source, software, programmer, community, dev, developement, issue, git, github, gitlab, pr, mr, pull request, merge request"
		/>

		<meta property="og:type" content="website" />
		<meta
			property="og:title"
			content="Opire - The Rewards Platform for Software Developers"
		/>
		<meta
			property="og:description"
			content="With Opire, anyone can create rewards for open source projects and grow their community, while developers can solve issues and earn the associated rewards."
		/>

		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		{canonical && <link rel="canonical" href={canonical} />}
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<Header />
		<main>
			<slot />
		</main>
		<Spacer size={200} />
		<Footer />
	</body>
	<style is:global>
		.hidden {
			display: none;
		}

		html {
			font-family: system-ui, sans-serif;
			background: #121212;
			color: #ffffff;
		}
		body {
			margin: 0;
			padding: 0;
			position: relative;
		}
		.not-scrollable {
			overflow-y: hidden;
		}
		.link-in-text {
			text-decoration: underline;
			color: #ffffff;
		}
	</style>
</html>
